@tailwind base;
@tailwind components;
@tailwind utilities;
.exam-bg {
    background-color: #395253;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
body {
    font-family: Vazirmatn, sans-serif;
}